<app-nav></app-nav>
<!-- <h1>Hello {{firstname | uppercase}}</h1>
<div *ngFor="let student of students">
  Student: {{student}}
</div> -->

<h1>Hello World</h1>
<!-- <div *ngFor="let movie of movies, let i = index">
  {{ i }}
  <p>{{movie.title}}</p>
  <p>{{movie.year}}</p>
  <p>{{movie.description}}</p>
</div> -->

<!-- <div *ngFor="let sport of sports">
  <p *ngIf="sport.participants > 0">Sport: {{sport.name}}</p>
  <p>Participants: {{sport.participants}}</p>
</div> -->

<!-- <app-detail *ngFor="let movie of movies" [movie]="movie"></app-detail> -->
<!-- Premier movie est le nom de la variable envoyée à l'enfant -->
<!-- Second est la valeur de la variable -->
<router-outlet></router-outlet>